[submodule "scripts/SimSiam-91.9-top1-acc-on-CIFAR10"]
	path = scripts/SimSiam-91.9-top1-acc-on-CIFAR10
	url = https://github.com/yukiharada1228/SimSiam-91.9-top1-acc-on-CIFAR10.git
[submodule "scripts/FixMatch-pytorch"]
	path = scripts/FixMatch-pytorch
	url = https://github.com/yukiharada1228/FixMatch-pytorch.git
